* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #181D31;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    flex-direction: column-reverse;
    /*border: solid white;*/
    text-align: center;
    width: 100%;
    height: 600px;
}
/*logo svg */
#logo, .logo-historia {
    padding: 1px;
    box-sizing: border-box;
}

body svg {
    background-color: #181D31;
    /*width: 500px;
    height: 400px;*/
}
#logo  a {
    border: none;
    box-shadow: none;
    padding: 0;
    background-color: #181D31;
    border-radius: none;
    margin: 0;

}
h1 {
    height: 85%;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    background-image: url(imagenes/codigo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(250, 250, 250);
    font-weight: bold;
    font-size: 3.6rem;
    text-shadow: 4px 4px 1px rgb(0, 0, 0);
}
nav {
    /*border: solid 1px white;*/
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: space-between;
    padding-right: 3%;
    padding-left: 4%;
    box-sizing: border-box;
}
ul {
    display: flex
}
li {
    margin: 1em;
}
a {
    background-color:  rgb(230, 221, 196);
    box-shadow:  4px 4px #678983;
    padding: 1rem;
    border-radius: 15px;
}
/* contenedor de historia y juego */
main {
    text-align: center;
    width: 100%;
    height: 80%;
}
main h3 {
    color: #678983;
    font-size: 3rem;
}
/* card */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
    gap: 10%;
}
.card-1 {
    width: 350px;
    height: 400px;
    border: solid 5px rgb(103, 137, 131);
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2px;
}
.card-2 {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
}
.card-2 img {
    height: 100%;
}
p {
    background-color: white;
}
.card-1 a {
    background-color: rgb(24, 28, 48);
    color: white;
    width: 40%;
    margin: 0 auto 15px auto;
}
.imagenes1 img {
    object-position: center;
    object-fit: cover;
    width: 100%;
}
/* fooster */

footer {
    display: flex;
    color: white;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    align-items: center;
    background-color: #678983;
    padding: 0 2%;
    box-sizing: border-box;

}
footer div {
    display: flex;
    gap: 10%;
    
}
footer img {
    width: 120px;
    background-color: #678983;
}
footer h3 {
    background-color: #678983;
    color: black;
    align-self: center;
    justify-self: center;
    text-align: center;
    
}


footer div {
    background-color: #678983;
}

/* estilos de hoja de historia */

.historia-main {
    height: 100%;
    width: 100%;
}

#historia-computacion  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 2em;
    grid-row-gap: 10em;
    place-content: center;
    margin: 1% 0 10% 0;
    padding: 5%;
    box-sizing: border-box;
}
#subtitulo1 {
    grid-column: 1/3;
}
#parrafo1 {
    grid-column: 3/5;
}    
#subtitulo2 {
    grid-column: 3/5;
    
    
}
#parrafo2 {
    grid-column: 1/3;
    grid-row-start: 2;
}
#parrafo3 {
    grid-column: 2/5;
}
#historia-computacion p {
    background-color: #181D31;
    color: white;
    font-size: 1rem;
    text-align: left;
    width: 90%;
}
#historia-computacion, #jugemos h2 {
    color: #678983;
    font-size: 2.3rem;
    text-align: center;
}
/* video*/
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: solid white;*/
    box-sizing: border-box;
    padding: 1% 0 2% 0;

}
article h2 {
    margin: 0;
    /*border:  solid palevioletred;*/
    color: #678983;
    font-size: 2.5em;
    width: 100%;
    gap: 5px;
}
article section {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 70%;
    background-color: black;
}
.barra-control {
    width: 98%;
    display: flex;
    border-radius: 10px;
    background-color: rgb(39, 39, 39);
    margin-top: 10px;
    margin-bottom: 2px;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    
}
#botones button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 3px 3px #678983;
    background-color:  rgb(240, 233, 210);
}
#botones {
    background-color: rgb(39, 39, 39);
    gap: 10px;
    margin: 10px 0 10px 0;
}
#botones img, span {
    background-color: white;
    height: 1.2em;
}
.barra-control span {
    background-color: rgb(39, 39, 39);
    color: white;
    font-weight: 300;
}
/* Rompecabeza */
#containerPuzzble {
    /*border: solid pink;*/
    padding: 1%;
    width: 90%;
    height: auto;
}
#jugemos {
    display: flex;
    flex-direction: column;
    /*border: solid white;*/
    width: 100%;
    margin: auto;
}
#containerPuzzble {
    /*border: solid green 5px;*/
    width: 100%;
    display: grid;
    gap: 5%;
    padding: 1px;
    box-sizing: border-box;

    
}
.finalFoto, .inicioFoto {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}
.inicioFoto img, .finalFoto div {
    width: 250px;
    height: 390px;
    margin: 1%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
    /*border:  solid 2px palevioletred;*/
}
#imagen1, #imagen2, #imagen3 {
    width: 250px;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);*/
}
.finalFoto p {
    /*border: solid 1px yellow;*/
    width: 100%;
    height: 100%;
    padding-top: 70%;
    
}
.finalFoto p:hover {
    color: rgb(255, 255, 255);
    background-color: #32423f;
}
#containerPuzzble button {
    padding: 1rem;
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(7, 6, 6);
    border-radius: 20px;
    width: 150px;
    align-self: center;
    justify-self: center;
    background-color: aliceblue;
    box-shadow: #678983 3px 3px 0 0;
}
/* juego de cajas */

